// borderColor = darken(white, 10%)
_base = #ff6c2d
_base = #0093d2
_baseI = invert(_base)

tabBorderColor = white
vTopSpace = 100px
hRgihtSpace = 50px
vBottomSpace = 30px
inputHeight = 45px

.hero
	height 100vh
	
.hero-content,
.hero-login
	padding 0
	position relative
	height 100%
	
.hero-bg-wrapper
	position relative
	top 0
	left 0
	height 100%
	width 100%
	overflow hidden
	


.hero-bg-img,
.hero-bg-mask
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	
.hero-bg-img
	background-size cover
	background-position center center
	z-index 1
	background-repeat no-repeat

.hero-bg-mask
	z-index 2
	background black
	opacity .5

.hero-content
	// z-index 10
	color white	

.hero-caption
	z-index 10
	top 0
	left 0
	padding-top vTopSpace
	position absolute
	width 50%
	padding-left hRgihtSpace
	

.hero-caption-title
	margin-top 0
	font-size 60px
	line-height 1em
	margin-bottom vBottomSpace

.hero-caption-text
	margin-bottom 0
	font-size 20px
	letter-spacing 0.33px
	opacity .8

.hero-footer
	z-index 10
	position absolute
	bottom 0
	left 0
	padding vBottomSpace hRgihtSpace
	width 100%
	
.hero-footer-nav
	position relative
	margin-bottom vBottomSpace

.hero-footer-navbar,
.hero-footer-social-list
	list-style none
	margin 0
	padding 0
	> li
		display inline-block
		
.hero-footer-navbar
	> li
		margin-right (hRgihtSpace/3)
		letter-spacing 0.33px
		> a
			color white
			opacity .66
			&:hover
				color white
				opacity 1
		&:last-child
			margin-right 0
		
.hero-footer-social-list
	position absolute
	top 0
	right 0
	
.hero-footer-copyright > p
	margin-bottom 0
	> a
		color _base
		font-weight bold
		&:hover
			color _base

.hero-login
	// background red
	padding-top vTopSpace
	background lighten(black, 15%)
	background _base
	z-index 10
	box-shadow 0 -5px 20px fade-out(black, 50%)
	

.hero-btn
	// margin-top vBottomSpace
	padding vBottomSpace 0
	outline none !important
	border none !important
	border-radius 2px
	font-size 20px
	line-height 1em
	text-transform uppercase
	font-weight bold
	letter-spacing 1.6px
	color white !important
	background _baseI !important
	transition .3s
	// box-shadow 0 2px 4px fade-out(darken(_baseI, 50), 79%)
	box-shadow 0 7px 25px fade-out(darken(_baseI, 50), 80%)\,0 1px 2px fade-out(darken(_baseI, 50), 70%)
	&:hover
		background _baseI
		color white
		box-shadow 0 10px 35px fade-out(darken(_baseI, 50), 75%)\,0 1px 2px fade-out(darken(_baseI, 50), 70%)
	

.hero-login-tabs
	.nav-tabs
		border-bottom 1px solid fade-out(tabBorderColor, 30%)
		> li
			> a
				padding-top 0
				margin-bottom -1px
				font-size 18px
				letter-spacing 1.6px
				color white !important
				border-radius 0 !important
				border none
				border-bottom 2px solid transparent
				background none !important
				opacity .66
			&.active > a
			&.active > a:hover,
			&.active > a:focus
				border none
				border-bottom 2px solid tabBorderColor
				opacity 1
			&.active > a
				// font-weight bold
	.tab-pane
		padding vBottomSpace hRgihtSpace
		padding-top (vBottomSpace*1.5)
		
	.form-group
		position relative
		border-bottom 2px solid fade-out(tabBorderColor, 50%)
		margin-bottom vBottomSpace
		padding-top (vBottomSpace - 10)
		transition .3s
		.fa
			position absolute
			bottom 0
			// left 2px
			left 2px
			width (inputHeight - 15)
			height inputHeight
			line-height inputHeight
			display block
			color white
			font-size 18px
			z-index 1
			transition .3s
			// text-align center
		&.active
			border-color lighten(_baseI, 30%)
			// .fa
				// color lighten(_baseI, 30%)
			label
				opacity .66
				font-size 12px
				transform translate3d(0, 0, 0)
	
	label
		color white
		font-weight normal
		font-size 16px
		letter-spacing 0.6px
		position absolute
		margin 0
		top 0
		left 0
		z-index 1
		transform translate3d((inputHeight - 15),  (inputHeight - 15), 0)
		transition .3s
		
	.form-control
		height inputHeight
		line-height inputHeight
		padding-top 0
		padding-bottom 0
		outline none !important
		padding-left (inputHeight - 15)
		font-size 16px
		letter-spacing 0.6px
		color white
		background none
		border-radius none
		border none
		box-shadow none
		position relative
		z-index 5